/* Rétt hlutfall youtube > iframe  (.gluggi) 560 x 310

   óskuð breidd deilt í upphaflega breidd = n% 

   til að finna rétta hæð : n%  * upphafleg hæð 
*/
/* 320px*/
.gluggi {
    width:300px; 
    height:168px; 
    margin:auto;
  }

@media screen and (min-width: 400px) {
    .gluggi {
      width:380px; 
      height:214px; 
    }
 }

@media screen and (min-width: 480px) {
    .gluggi {
     width:448px;     
     height:252px; 
   }
 }

@media screen and (min-width: 600px) {
    .gluggi {
      width:560px;    
      height:315px; 
    }
 }

 @media screen and (min-width:768px) {
  .gluggi {
    width:736px; 
    height:414px; 
  }
}
@media screen and (min-width:960px) {
  .gluggi {
    width:950px; 
    height:534px; 
  }
}
@media screen and (min-width: 1248px) {
  .gluggi { 
    width:1248px; 
    height:702px; 
  }
} 
